minentries    = 50
forcefit      = true
input         = jra_f.root
xvarOverride  = "RefPt:JetPt"
domu          = true
indirectProf  = "p_Rho_Mu"
pfmin         = 15
puppimin      = 15
ak4fitmin     = 30
ak8fitmin     = 30
puppifitmin   = 30
dowrite       = true
fera          = "Autumn18_V8_MC"
dorelrsp      = true
dophirsp      = false
doetarsp      = false
$addUnc        = 0.1
$fitRMS        = false
